.container{
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: 0.3s;
    width: 20%;
    background-color: #7DF9FF;
}
.doboz{
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: 0.3s;
    width: 20%;
}
.box{
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: 0.3s;
    width: 20%;
    background-color: rgb(44, 117, 255);
}
.box:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
}